doctype html
html
  head
    title Weather Forecast
    link(rel="stylesheet", type="text/css", href="/forecast.css")
  body
    nav
      img.logo(src="/logo.jpg", alt="Logo")
      ul
        li
          a(href="/") Home 
        li
          a(href="/forecast") Forecast
        li
          a(href="/weathermap") Weather MAP
    .container
      h1 Weather Forecast
      .form-container
        form(action="/forecast", method="get")
          input(type="text", name="city", placeholder="Enter city name")
          label
            input(type="radio", name="unit", value="metric", checked)
            | °C
          label
            input(type="radio", name="unit", value="imperial")
            | °F
          button(type="submit") Get Forecast
      if forecast
        .forecast-container
          table
            thead
              tr
                th Date & Time
                th Temperature (°#{unit})
                th Max Temperature (°#{unit})
                th Min Temperature (°#{unit})
                th Weather
                th Weather Description
                th Humidity (%)
                th Atmospheric Pressure (hPa)
                th Wind Speed (m/s)
                th Precipitation Probability
            tbody
              each day in forecast.list
                tr.forecast-card
                  td= new Date(day.dt_txt.replace(' ', 'T')).toLocaleString('en-US', { month: '2-digit', day: '2-digit', year: 'numeric', hour: '2-digit', minute: '2-digit' })
                  td= `${day.main.temp.toFixed(0)}°${unit === 'metric' ? 'C' : 'F'}`
                  td= `${day.main.temp_max.toFixed(0)}°${unit === 'metric' ? 'C' : 'F'}`
                  td= `${day.main.temp_min.toFixed(0)}°${unit === 'metric' ? 'C' : 'F'}`
                  td= day.weather[0].main
                  td= day.weather[0].description
                  td= day.main.humidity + '%'
                  td= day.main.pressure + ' hPa'
                  td= day.wind.speed + ' m/s'
                  td= (day.pop * 100).toFixed(2) + '%'
    footer
      | Humber College Modern Web Technologies - CPAN-212-0NC Group7
