html
  head
    title Weather App
    link(rel="stylesheet", type="text/css", href="/styles.css")
    link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.14.0/css/all.css")
  body
    nav
      img(src="/logo.jpg", alt="Logo") 
      ul
        li
          a(href="/") Home
        li
          a(href="/forecast") Forecast
        li
          a(href="/weathermap") Weather MAP
    .container
      h1 Current Weather
      form(action="/weather", method="get")
        input(type="text", name="city", placeholder="Enter city name")
        .label-container
          label
            input(type="radio", name="unit", value="metric", checked)
            | °C
          label
            input(type="radio", name="unit", value="imperial")
            | °F
          .button-container
            button(type="submit") Get Weather
      if error
        p.error= error
      else if weather
        .card
          p
            i.fas.fa-map-marker-alt
            = `${weather.name}, ${weather.sys.country}`
          p
            i.fas.fa-thermometer-half
            | 
            span= `   ${weather.main.temp.toFixed(0)}°${unit === 'metric' ? 'C' : 'F'}`
          p
            i.fas.fa-cloud 
            = weather.weather[0].main
          p
            i.fas.fa-droplet-degree
            | Pressure:   #{weather.main.pressure} mmHg
          p
            i.fas.fa-humidity
            | Humidity:   #{weather.main.humidity}%
          p
            i.fas.fa-speed
            | Speed:   #{weather.wind.speed}mph
          p
            i.fas.fa-direction
            | Direction: #{weather.wind.deg}°
        if forecast
          h2 5 Days / 3 hours Forecast
          form(action="/forecast", method="get")
            input(type="hidden", name="city", value=weather.name)
            button(type="submit") View Details
          .forecast-container
            each day in forecast.list.slice(0, 7)
              .forecast-card
                p= new Date(day.dt_txt.replace(' ', 'T')).toLocaleString('en-US', { month: '2-digit', day: '2-digit', year: 'numeric', hour: '2-digit', minute: '2-digit' })
                .forecast-items
                  p
                    | Temperature: 
                    span= ` ${day.main.temp.toFixed(0)}°${unit === 'metric' ? 'C' : 'F'}`
                  p
                    | Condition: #{day.weather[0].main}
                  p
                    | Humidity: #{day.main.humidity}%
  footer
    | Humber College Modern Web Technologies - CPAN-212-0NC Group7